.video-container {
  position: relative;
  height: 522px;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
}

.video-container figure {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}

.video-container figure.active {
  pointer-events: all;
  opacity: 1;
}
